.dc-form-input {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(192, 132, 252, 0.6);
  }
}

.dc-form-input-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  margin-bottom: 0.25rem;
}
